@font-face {
  font-family: "roboto condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "roboto condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "roboto condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "roboto condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Light.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "roboto condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
body {
  background-color: lightgrey;
  font-family: "roboto condensed";
  font-weight: 400;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
button {
  font-family: "roboto condensed";
  font-weight: 700;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.arithmetic-trainer__container {
  width: 460px;
  margin: 0 auto;
  padding: 20px;
  outline: 1px green solid;
}
.arithmetic-trainer__title {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.instruction {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.range-rail {
  position: relative;
  width: 150px;
  height: 5px;
  margin: 20px auto 20px;
  background-color: #000000;
}
.range-dot {
  position: absolute;
  top: -5px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: #000000;
  border: 4px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.range-dot_disable {
  background-color: #f48942;
}
.range-output {
  min-height: 25px;
  width: 50px;
  padding-top: 3px;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
}
.start-training {
  display: block;
  margin: 0 auto;
}
.end-training {
  display: block;
  margin: 0 auto;
}
.expression {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
.operand {
  min-height: 25px;
  width: 30px;
  padding-top: 3px;
  background-color: #fff;
  text-align: center;
}
.operator {
  min-height: 25px;
  width: 15px;
  padding-top: 3px;
  background-color: #fff;
  text-align: center;
}
.message-container {
  display: none;
  position: absolute;
  right: -130px;
  bottom: 0;
  padding: 10px;
  width: 250px;
  background-color: pink;
}
.message-container::after {
  content: "";
  position: absolute;
  left: -20px;
  border-right: 20px solid pink;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
[name="user-answer"] {
  display: block;
  margin: 0px;
  height: 25px;
  width: 30px;
  border: none;
  text-align: center;
}
.proceed {
  display: block;
  margin: 0 auto;
}
.answers-counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.answers-counters__text {
  font-size: 12px;
  width: 97px;
  text-align: right;
}
.answers-count {
  min-height: 25px;
  width: 50px;
  padding-top: 3px;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
}
.answers-count_right {
  color: green;
}
.answers-count_wrong {
  color: red;
}
.list-wrong-answers {
  height: 300px;
  background-color: #ffffff;
  overflow: auto;
}
